<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Login </title>
</head>
<body>

<h1>Добавление аккаунта</h1>

<form th:action="@{/admin/addaccount}" method="post">
    <div><label> Выберите игру :</label>
        <label>
            <select name = "game">
                <th:block th:each="game : ${games}">
                    <br>
                    <option th:value="${game.getId().toString()}" th:text="${game.getName()}" > </option>

                </th:block>
            </select>
        </label>

    </div>

    <div><input type="hidden" value="1" name="status"></div>
    <div><label> Описание: <input type="text" name="description"/> </label></div>
    <div><label> Цена: <input type="text" name="price"/> </label></div>
    <div><input type="submit" value="Отправить"/></div>

</form>
<a href="/main">На главную</a>
</body>
</html>