<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Ваша корзина</title>
</head>
<body>


<h2>Товары</h2>


<p th:if = "${message}" th:text="${message}"></p>
<th:block th:unless="${message}">
    <table>

        <th:block th:each="item : ${items}">
            <tr>
                <td> <a th:href="@{gamestore/account(id=${item.getId()})}" th:text="${item.getDescription()}">  </a> </td>
                <td th:text="${item.getPrice() }"> </td>
                <td> <a th:href="@{bag/removePurchase(id=${item.getId()})}" >  Убрать из корзины</a> </td>
            </tr>
        </th:block>
    </table>


    <br>
    <a th:href="@{/pay(id=${id})}">Перейти к оформлению покупки</a>
</th:block>

<a href="/main">На главную</a>

</body>
</html>