<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Chekcout</title>
</head>
<body>


<h2>Товары</h2>

<table>

    <th:block th:each="item : ${items}">
        <tr>
            <td> <a th:href="@{gamestore/account(id=${item.getId()})}" th:text="${item.getDescription()}">  </a> </td>
            <td th:text="${item.getPrice() }"> </td>
        </tr>
    </th:block>
</table>


<br>
<h2>Итого: </h2>
<span th:text="${sum}"></span>

<br>

<th:block th:if ="${autherror}" th:text="${autherror}">

</th:block>
<th:block th:unless="${autherror}">
    <form  th:action="@{/pay}" method="post" >

        <input type="hidden" id="price" name="price" th:value="${sum}">
        <input type="hidden" id="currency" name="currency" th:value="RUB">
        <input type="hidden" id="method" name="method" value="paypal">
        <input type="hidden" id="intent" name="intent" value="sale">
        <input type="hidden" id="userid" name="userid" th:value="${id}">
        <input type="hidden" id="description" name="description" value="account purchase">
        <input th:type="submit" value="Заказать">
    </form>
</th:block>




</body>
</html>
