<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Login </title>
</head>
<body>

<p th:if = "${error}" th:text="${error}"></p>

<p th:if = "${message}" th:text="${message}"></p>

<p th:if = "${email}" th:text="${email}"></p>

<form th:action="@{/login}" method="post">
    <div><label> Имя пользователя : <input type="text" name="username"/> </label></div>
    <div><label> Пароль: <input type="password" name="password"/> </label></div>
    <div><input type="submit" value="Sign In"/></div>
</form>
<a href="/main">На главную</a>
</body>
</html>