
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="ru">

<body>
<h1>Добро пожаловать на сайт по продае игровых аккаунтов</h1>

<th:block th:if="${logout}" th:text="${logout}">
</th:block>

<div sec:authorize="!isAuthenticated()">
    <h4><a href="/login">Войти</a></h4>
    <h4><a href="/registration">Зарегистрироваться</a></h4>
</div>
<div sec:authorize="isAuthenticated()">
<!--    <h4><a href="/logout">Выйти</a></h4>-->
    <th:form action="/j_spring_security_check" method="POST">
        <input type="submit" value="Logout" />
    </th:form>
</div>



<br>
<div sec:authorize="hasRole('ROLE_ADMIN')">
    Вы вошли как администратор
    <br>
    <h4><a href="/admin">Панель администратора</a></h4>
</div>

<div sec:authorize="hasRole('ROLE_USER')">

    <br>
    <h4><a href="/user/profile">Личный кабинет</a></h4>
</div>




<h2>Категории</h2>


<table>


<th:block th:each="store : ${stores}">
    <br>
    <a th:href="@{/gamestore(id=${store.getId()})}" th:text="${store.getName()}">  </a>
</th:block>


</table>

<!--<div sec:authorize="hasRole('ROLE_USER')">-->

<!--&lt;!&ndash;    <br>&ndash;&gt;-->
<!--&lt;!&ndash;    <h4><a href="/user/addaccount">Выставить аккаунт на продажу</a></h4>&ndash;&gt;-->
<!--</div>-->


<div sec:authorize="hasRole('ROLE_USER')">

    <br>

    <a th:href="@{/bag(id=${userid})}">Корзина</a>
</div>


</body>
</html>

