<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Ваши заказы</title>
</head>
<body>
<p th:if = "${message}" th:text="${message}"></p>
<table>

    <th:block th:each="account : ${items}">
        <tr>
            <td> <a th:href="@{gamestore/account(id=${account.getId()})}" th:text="${account.getDescription()}">  </a> </td>
            <td th:text="${account.getPrice() }"> </td>
        </tr>
    </th:block>
</table>

<a  href="/user/profile">Назад в профиль</a>
</body>

</html>