<div  align="center">
  <div  class="col-sm-10">
    <div class="card card-block ">
      <h3 class="card-title">Оплата</h3>
      <div class="card-body">
        <h4>Список покупаемых аккаунтов</h4>
        <table class="table table-striped">
          <thead>
          <tr>

            <th scope="col">Название</th>
            <th scope="col">Цена</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let account of accounts">
            <td> {{account.description}} </td>
            <td>{{account.price}} RUB</td>
          </tr>
          </tbody>
        </table>
        <br>
        <p class="font-weight-bold">Итого к оплате: {{sum}}  RUB</p>
        <p>Оплата производится через PayPal</p>
        <p>После успешной оплаты на Ваш email будет направлено письмо с данными для входа в купленный/-ые Вами аккаунт/-ы</p>
        <a routerLink="/bag" class="btn-primary btn-sm float-left">Назад</a>
        <button (click)="buy(sum)" class="btn-primary btn-sm float-right">Оплатить</button>

      </div>
    </div>
  </div>
</div>
