<table class="table  table-bordered table-striped">
  <thead class="thead-dark">
  <tr>

    <th scope="col">Название</th>
    <th scope="col">Цена</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let account of accounts">


    <td> {{account.description}} </td>
    <td>{{account.price}}</td>
  </tr>
  </tbody>
</table>
<p class="font-weight-bold">Сумма: {{sum}}</p>
<a routerLink="/bag" class="btn-primary btn-sm float-left">Назад</a>
<button (click)="buy(sum)" class="btn-primary btn-sm float-right">Оплатить</button>

