
    <h3 class="display-4">{{header}}</h3>

    <div class="col-md-4">
      <div class="card card-container">
        <h5 class="display-5">Фильтр</h5>
        <form #sortForm="ngForm" novalidate>
          <div class="form-group">
            <label for="from">Цена от:</label>
            <input type="text" class="form-control" name="from" id="from" [(ngModel)]="from" [value]="0"  pattern="[0-9]" />
          </div>
          <div class="form-group">
            <label for="to">Цена до:</label>
            <input type="text" class="form-control" name="to" id="to" [(ngModel)]="to" [value]="0"   pattern="[0-9]"/>
          </div>
          <div class="form-group">
            <label for="sort">Сортировать по:</label>
            <select class="form-control" name="sort" id="sort" [(ngModel)]="sort" >
              <option value="desc">По убыванию цены</option>
              <option value="inc">По возрастанию цены</option>
            </select>
          </div>
          <div class="form-group">
            <button class="btn btn-primary float-left" (click)="submit(sortForm)">Показать</button>
          </div>
          <div class="form-group">
            <button class="btn btn-primary float-right" (click)="clear(sortForm)">Очистить</button>
          </div>
        </form>
      </div>
    </div>
    <br>

    <div *ngIf="accounts.length===0">
      <h3 class="display-3">Ничего не найдено</h3>
    </div>
    <div *ngIf="accounts.length!==0">
      <table class="table  table-bordered table-striped">
        <thead class="thead-light">
        <tr>

          <th>Название</th>
          <th>Цена</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let account of accounts">
          <td> <a [routerLink]="['/gamestore','account']" [queryParams]="{'id':account.id.toString()}">{{account.description}}</a> </td>
          <td>{{account.price}}</td>
        </tr>
        </tbody>
      </table>
    </div>

    <div *ngIf="currentUser.roles.includes('ROLE_ADMIN')">
      <button [routerLink]="['/addAccount']" [queryParams]="{'gameId':id.toString()}" class="btn-primary float-left">Добавить аккаунт</button>

    </div>

