
    <h3 class="display-4">{{header}}</h3>
    <table class="table  table-bordered table-striped">
      <thead class="thead-light">
      <tr>

        <th scope="col">Название</th>
        <th scope="col">Цена</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let account of accounts">

<!--        <td>  <a [routerLink]="['/gamestore', account.id.toString()]"> {{account.description}}</a></td>-->
<!--        <td>  <a [routerLink]="['/gamestore', store.id.toString()]"> {{store.name}}</a></td>-->
        <td> <a [routerLink]="['/gamestore','account']" [queryParams]="{'id':account.id.toString()}">{{account.description}}</a> </td>
        <td>{{account.price}}</td>
      </tr>
      </tbody>
    </table>
    <div *ngIf="currentUser.roles.includes('ROLE_ADMIN')">
      <button [routerLink]="['/addAccount']" [queryParams]="{'gameId':id.toString()}" class="btn-primary float-left">Добавить аккаунт</button>

    </div>

