<h1 class="title" align="center">Интернет-магазин игровых аккаунтов Dota 2 и Hearthstone</h1>
<h3 class="font-weight-normal" align="center">Здесь вы модете приобрести  аккаунты Dota 2 и Hearthstone, начиниая от самых дешевых и заканчивая дорогими и прокачанными аккаунтами. </h3>



<div class="container">
  <div class="row justify-content-center">
      <div  class="card-deck">
      <div class="col-sm-6">
        <div class="card bg-dark text-white">
          <img class="card-img" src="../../../assets/dota2.jpg" alt="Card image">

          <div class="card-body">
            <h5 class="card-title">Dota 2</h5>
            <p class="card-text">Dota 2 — компьютерная многопользовательская командная игра в жанре multiplayer online battle arena, разработанная корпорацией Valve. Игра является продолжением DotA — карты-модификации для игры Warcraft III: Reign of Chaos и дополнения к ней Warcraft III: The Frozen Throne.</p>
            <a href="http://ru.dota2.com/?l=russian" class="btn btn-primary">Сайт игры</a>
            <a routerLink="/gamestore"  [queryParams]="{'id':1}" class="btn btn-primary float-right">В магазин</a>
          </div>

        </div>
      </div>
      <div class="col-sm-6">
        <div class="card bg-dark text-white">
          <img class="card-img" src="../../../assets/hs.png" alt="Card image">

          <div class="card-body">
            <h5 class="card-title">Hearthstone</h5>
            <p class="card-text">Hearthstone — коллекционная карточная онлайн-игра по мотивам вселенной Warcraft, разработанная компанией Blizzard Entertainment и распространяемая по модели free-to-play. Игра была выпущена для персональных компьютеров 11 марта 2014 года. </p>
            <a href="https://playhearthstone.com/ru-ru/" class="btn btn-primary">Сайт игры</a>
            <a routerLink="/gamestore"  [queryParams]="{'id':2}" class="btn btn-primary float-right">В магазин</a>

          </div>
        </div>
      </div>
    </div>

  </div>
</div>




