<div class="alert alert-danger" role="alert">
  <h3 class="display-4">У вас недостаточно прав для доступа к данной странице!</h3>
  <span>Эта ошибка вызникает если: <br>
    1)Вы пытаетесь воспользоваться функционалом, предназначенным для администратора
    2)Если вы не авторизировались <br>
    3)Eсли Вы пытаетесь совершить покупку, не подтвердив свой e-mail <br>
  </span>
  <br>
  <button routerLink="/"  class="btn-primary btn-sm float-left">На главную</button>
  <button routerLink="/login"  class="btn-primary btn-sm float-right">На страницу авторизации</button>
</div>


